body{
  background-image: url(image/photos.jpg);
}
.titre{
  color: #ffffff;
  text-align: center;
  font-size: 3.5em;
}
.suite-titre{
  color: #FFFFFF;
  text-align: center;
  font-size: 1.3em;
}
h3{
  color: #fff;
  font-size: 2em;
}
